/* App.css */
/* App.css */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background: url('../src/asset/bg.jpg')  no-repeat center center fixed;
  background-size: cover;
}

